*{
    padding: 0;
    margin: 0;
}
.promocion{
    position: relative;
    width: 100%;
}
.pisoGaraje{
    position: absolute;
    width: 100%;
}
.slider{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.prom1{
    width: 550px;
    position: relative;

}
.prom2{
    width: 550px;
    position: relative;

}
.prom3{
    width: 550px;
    position: relative;

}
