.sesion4{
    background: linear-gradient(to bottom, #292929,rgb(39, 39, 39));
    *background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
}
.s4-cont{
    position: absolute;
    width: 100%;
    height: 100vh;
    *margin-top: -40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.s4-cont .heading{
    *margin-left: 5%;
    font-size: 5.5rem;
    color: rgb(255, 255, 255);
}
.s4-cont .row{
   *width: 100%;
}
/*
.imagenConcecionario{
    position: relative;
    opacity: 40%;
    width: 100%;
    margin-bottom: -30%;
    *margin-top: 10px;
    *padding:1rem; 
    *box-shadow: var(--box-shadow);
    *border:var(--border);
    *border-radius: .5rem;
}*/


.containerFormaulario{
    position: relative;
    height: 570px;
    width: 600px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.1);
}

.containerFormaulario h3{
    font-size: 3rem;
    color:var(--black);
    *padding-bottom: 1rem;
}

.containerFormaulario .box{
    width:95%;
    border-radius: .5rem;
    padding:1rem ;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem ;
}

.containerFormaulario textarea{
    height:15rem;
    resize: none;
}
.containerFormaulario input{
    width: 90%;
}