.sesion3{
    background: linear-gradient(to bottom, #252525, #292929);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    overflow: hidden;
}
.conS3{
    position: absolute;
    width: 100%;
    margin-top: -40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.s3-text {
    *background-color: thistle;
    position: relative;
    font-size: 16px;
    top: 100px;
    right: 70px;
    width: 600px;
    color: rgb(156, 156, 156);
    display: flex;
    align-items: center;
    justify-content: center;
}
.s3-text h1{
    position: absolute;
    font-size: 66px;
    left: 0;
    top:-50px;
}
.s3-text p a{
    color: rgb(156, 156, 156);
    position: absolute;
    font-size: 8px;
    left: 0;
    bottom:-250px;
    z-index: 3;
}


.s3-text p{
    margin-top: 15px;
    font-size: 9px;
}
.s3-text div{
    *background-color: rgb(143, 36, 36);
    border: 5px solid rgb(223, 223, 223);
    border-radius: 25px;
    margin-right: 10px; margin-top: 50px;
    padding: 30px;
    font-size: 14px;
}
.s3-text div h3{
    font-size: 20px;
}

.s3-img1 img{
    position: relative;
    top: 250px;
    *background-color: rgb(143, 36, 36);
    width: 350px;
    *margin-left: 190%;
    left: 55%;
    z-index: 1;
}
   

.s3-img2 img{
    position: absolute;
    top: 340px;
    *background-color: rosybrown;
    width: 280px;
    *margin-left: 30%;
    left: 0;
    z-index: 2;
}
